<div>
	<div class="homeContent">
		<center>
			<img class="homeTree" src="icons/tree.svg"/>
			<div class="homeText bold">Moving to a new place?<br>Let's downroot.
			</div>
			<div ng-hide="showme">
				<div class="buttonLeft">
					<button ng-click="showme=true" class="button bold">
						GET STARTED
					</button>
				</div>
			</div>	
			<div ng-if="showme" class="fadeInUp form">
				<div layout="column">
					<md-content class="md-padding">
					  <form name="userForm">
					    <md-input-container flex>
					      <label>Address</label>
					      <input ng-model="user.address">
					    </md-input-container>
					    
					    <div layout layout-sm="column">
					    
					    	<md-input-container flex>
					        <label>City</label>
					        <input ng-model="user.city">
					      </md-input-container>
					      <md-input-container flex>
					        <label>State</label>
					        <input ng-model="user.state">
					      </md-input-container>
					    </div>
					  </form>
						<button ng-click="goToResults()">
				    	Submit
					  </button>
					</md-content>
				</div>
			</div>	
		</center>
	</div>
<!--   <form>
    <input ng-model="user.userAddress" placeholder="Input Address"/>
    <button ng-click="goToResults()">
    	Submit
    </button>
  </form> -->

</div>