html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	background-color: #E1FC7C;
}

/*.topBar {
	height: 300vh;
}*/

a {
	text-decoration: none;
}

.bold {
	font-weight: 600;
}

.nav {
	width: 100%;
	height: 100px;
	position: fixed;
	color: #006837;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #006837; 
	z-index: 1;
	background-color: #E1FC7C;
}

.nav a:hover {
	color: #cc6666;
}

.navInfo {
	margin: 33px 53px 34px;
	float: right;
	font-size: 45px;
}

.navLogo {
	float: left;
	width: 300px;
	margin-left: 2em;
}

.homeContent {
	position: relative;
  top: 50%;
  transform: translateY(60%);
  height: 450px;
} 

.homeTree {
	width: 130px;
	padding-bottom: 1.5rem;
}

.homeText {
	font-size: 95px;
	color: #006837;
	margin: 0;
	text-align:left;
	width:1110px;
	letter-spacing: 1.5px;
}

.buttonLeft{
	margin-top: 30px;
	margin-left: 5.5px;
	width:1110px;
	text-align:left;

}

.button {
	font-size: 48px;
	letter-spacing: 1px;
	color: #006837;
	border-style: solid;
	border-width: 2px;
	border-color: #006837;
	width: 435px;
	height: 98.89px;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	background-color: #E1FC7C;
}

.form {
	width:1110px;
	margin-left: 5.5px;
	margin-top: 10px;
}

.results {
	list-style-type: none;
	margin-top: 78px;
	padding-left: 0px;
	height: 100px;
	width:100%;
	max-width: 1060px;
	display: block;
}

.resultButton {
	height: 100px;
	width:100%;
	max-width: 1060px;
	position: relative;
}

.resultButtonIcon {
	height: 70px;
	margin: 15px 20px 15px 40px;
	position: absolute;
	left: 0;
/*	display: inline;*/
}

#hanger {
	height: 50px;
	margin: 25px 20px 25px 40px;
}

#pizza {
	margin: 15px 20px 15px 55px;
}

#gas {
	margin: 15px 20px 15px 45px;	
}

.resultButtonText {
	font-size: 40px;
	color: #006837;
	position: relative;
/*  top: 50%;*/
  transform: translateY(60%);
}

.orange {
	background-color: #FFC060;
}

.green {
	background-color: #84F574;
}

.pink {
	background-color: #FF857A;
}

.blue {
	background-color: #5AE0B1;
}

.purple {
	background-color: #BE91EA;
}

@media only screen and (min-device-width : 375px) 
and (max-device-width : 667px) {
	.resultButton {
		height: 110px;
	}
}

@media screen and (max-width: 675px) {
	.resultButtonText {
		font-size: 27px;
  	transform: translateY(110%);
  	margin-left: 80px;
	}
}

@media screen and (max-width: 825px) {
	.navInfo {
		margin: 34px 15px 34px;
		float: right;
		font-size: 35px;
		font-weight: bold;
	}

	.navLogo {
		float: left;
		width: 215px;
		margin-left: 0;
		padding-top: 20px;
	}

	.homeContent {
		position: relative;
  	top: 50%;
  	transform: translateY(70%);
 	}

	.homeText {
		font-size: 28px;
		color: #006837;
		margin: 0;
		text-align:left;
		width:350px;
		letter-spacing: 1.5px;
	}

	.buttonLeft{
		margin-top: 30px;
		margin-left: 5.5px;
		width:350px;
		text-align:left;

	}

	.button {
		font-size: 14px;
		letter-spacing: 1px;
		color: #006837;
		border-style: solid;
		border-width: 2px;
		border-color: #006837;
		width: 145px;
		height: 42px;
		font-family: 'Raleway', sans-serif;
		text-align:center;
		background-color: transparent;
	}
	.form {
		width:350px;
		margin-left: 5.5px;
		margin-top: 10px
	}
}

@media screen and (min-width: 825px) and (max-width: 1200px) {
	.navInfo {
		margin: 33px 53px 34px;
		float: right;
		font-size: 45px;
	}

	.navLogo {
		float: left;
		width: 300px;
		margin-left: 2em;
	}

	.homeContent {
		position: relative;
	  top: 50%;
	  transform: translateY(70%);
	} 

	.homeText {
		font-size: 70px;
		color: #006837;
		margin: 0;
		text-align:left;
		width:815px;
		letter-spacing: 1.5px;
	}

	.buttonLeft{
		margin-top: 30px;
		margin-left: 5.5px;
		width:815px;
		text-align:left;

	}

	.button {
		font-size: 48px;
		letter-spacing: 1px;
		color: #006837;
		border-style: solid;
		border-width: 2px;
		border-color: #006837;
		width: 435px;
		height: 98.89px;
		font-family: 'Raleway', sans-serif;
		text-align:center;
		background-color: transparent;
	}
	.form {
		width:815px;
		margin-left: 5.5px;
		margin-top: 10px
	}

}
